/* styles.css */

/* styles.css for login page */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #60ade0, #bbafc5);
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for better readability */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

/* Other styling rules remain the same */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #333;
}

label {
    margin: 10px 0;
    color: #333;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #2980b9;
}

.error-message {
    color: #e74c3c;
    margin-top: 10px;
}

p {
    margin-top: 10px;
    color: #333;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Set half-width for form elements in a row */
.half-width {
    width: 48%; /* Adjust as needed to leave space for margins */
}

/* Additional styling specific to the signup page */
.signup-container {
    background: linear-gradient(to right, #c2c4d3, #ffffff);
}